.auth-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: royalblue;
}

.auth-title {
    color: white;
    text-align: center;
}

.auth-card {
    color: white;
    width: 70vw;
}
